body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    background-color: white;
    height: auto;
    width: 100vw;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.list {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#new-task{
    margin: 5px;
    width: 75%;
    height: 20px;
}

button {
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#add {
    width: 50px;
    height: 20px;
}
